<hr>
<div id="<%= dom_id item %>">
  <p>
    <strong>ID:</strong>
    <%= item.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= item.sku %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= item.count %>
  </p>

    <p>
    <strong>Deleted Comment:</strong>
    <%= item.deletedComment %>
  </p>
</div>

